{% extends 'doctor/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">The Hello Health Site!</h1>
      <p>Healthline’s Medical Affairs team ensures that Healthline’s content, products, and services uphold the highest standards of medical integrity. Our dedicated team manages an extensive medical network of over 150 medical professionals providing medical review, expert POVs, and clinical guidance. Healthline’s healthcare professionals help ensure that the information we publish is accurate, evidence-based, current, person-centric, and trustworthy.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Follow Us</h2>
        <p>As your ally, we promise to never leave you stranded in your journey to well-being. Healthline has more than 15 social communities where people from across the globe come together to find information, share experiences, and offer support. We’re committed to bringing all matters of health into the spotlight. Through moderated conversations, expert-hosed videos, and content that serves the whole person.

        </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Ad & Sponsorship Policy</h2>
       <p>
        We have specific ad and sponsorship guidelines we follow to ensure that advertising never gets in the way of editorial integrity. Healthline chooses the ads, does not endorse any products, distinguishes all ads from editorial content, and clearly distinguishes between sponsored and non-sponsored content.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>About Hello Health Media</h2>
        <p>As a fast-growing health and wellness brand, Healthline Media helps empower millions of people to live stronger, healthier lives. Reaching more than 94 million people each month across its brand portfolios:</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>

{% endblock %}
