
<head>
    {% extends 'doctor/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}



    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    {% if messages.success %}
    <div class="alert alert-success{{ message.tags }} alert-dismissible fade show" role="success">
        <strong>Success:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    {% else %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Warning:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
    {% endfor %}
    {% endif %}

    <h3>For A Better Experience Create your account Here!</h3>
    <form  action="/doctor/signup" method="post" class="col-mb-6" style="display: block, padding 200px;">
        {% csrf_token %}
        <div class="form-group">
            <label for="fname">First Name</label>
            <input type="text" class="form-control" id="fname" name="fname" placeholder="Enter Your First Name" Required>
        </div>
        <div class="form-group">
            <label for="lname">Last Name</label>
            <input type="text" class="form-control" id="lname" name="lname" placeholder="Enter Your Last Name" Required>
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Create A Username (use only letters and numbers)" Required>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email Address" Required>
        </div>

        <div class="form-group">
            <label for="address">Address</label>
            <input type="address" class="form-control" id="add" name="address" placeholder="Enter Your Address" Required>
        </div>
        <br>
        
        <div class="form-control">
            <label class="header">Profile Photo</label>
            <input id="image" type="file" name="profile_photo" placeholder="Photo" required="" capture>
        </div>
        <br>
        <!-- <div class="form-group">
            <label for="pass2">Doctor Id</label>
            <input type="id" class="form-control" id="Docid" name="doctor_id" placeholder="Create Your Id" Required>
        </div> -->
        <div class="form-group">
            <label for="pass1">Password</label>
            <input type="password" class="form-control" id="pass1" name="pass1" placeholder="Create Your Password" Required>
        </div>
        
        <div class="form-group">
            <label for="pass2">Confirm Password</label>
            <input type="password" class="form-control" id="pass2" name="pass2" placeholder="Confirm Your Password" Required>
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
</body>
</html>
{% endblock %}